.blog-body{
  background-color: yellow;
  }
  .contenido{
    background-color: grey;
  }
.cabecera{
  height: 100px;
}
.logo{
    background-color: red;
}
.redes{
    background-color: green;
}

.img-logo{
    height: 100px;
}
.img-social {
  margin-top: 60px;
  width: 40px;
  height: 40px;
}
