a,a:hover{
  color: rgba(241,84,85,1);
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
    color: white;
    background-color: rgba(241,84,85,1);
}
.blog-body{
  margin: 10px;
}
.cabecera{
  height: 100px;
  background-color: rgba(241,84,85,1);
}

.img-logo{
    height: 100px;
}
.img-social {
  margin-top: 60px;
  width: 40px;
  height: 40px;
}
.img-comentario {
  width: 30px;
  height:30px;
}
.img-articulo{
  height: 300px;
  margin: auto;
}
