.blog-body{
  background-color: yellow;
  }

.cabecera{
  height: 100px;
}
.logo{
    background-color: red;
}
.redes{
    background-color: green;
}

.img-logo{
    height: 100px;
}
.img-social {
  margin-top: 60px;
  width: 40px;
  height: 40px;
}

.bloque-img{
  background-color: white;
}
.bloque-texto{
  background-color: cyan;

}
.txt-articulo{

}
.img-articulo{
  height: 300px;
  margin: auto;  
}
.bloque-busqueda{
  background-color: blue;
}
